.name {
  color: #666666;
  font-size: 43px;
  font-weight: bolder;
  max-width: 560px;
  margin: auto;
  padding: 5px;
  font-family: 'Bungee Shade', cursive;
}
.image {
  padding: 0px;
	max-width: 325px;
	margin: auto;
}
.p {
  color: #4d4d4d;
  font-size: 20px;
  text-align: justify;
  max-width: 560px;
  margin: auto;
  font-family: 'Poiret One', sans-serif;;
}
a {
	border-bottom: 1px dashed #CCC;
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 400;
}
a:hover {
	border-bottom: 1px dashed black;
}
a.icon {
	margin-right: 6px;
}
.fa {
	font-size: 20px !important;
	color: #222;
}
.centered {
  text-align: center;
}
@media (max-width: 800px) {
  .name{
    line-height: 1.4em;
  }
}
@media (max-width: 420px) {
	.name {
		font-size: 30px;
    line-height: 1.4em;
	}
  .image img {
    width: 100%;
    padding: 15px;
  }
}
